<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servletexp1</display-name>
  <welcome-file-list>
    <welcome-file>Infinite.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>mysql</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.infinite.servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displayservlet</display-name>
    <servlet-name>Displayservlet</servlet-name>
    <servlet-class>com.infinite.servlet.Displayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displayservlet</servlet-name>
    <url-pattern>/Displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletconfig</display-name>
    <servlet-name>Servletconfig</servlet-name>
    <servlet-class>com.infinite.servlet.Servletconfig</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.java.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>Oracle</param-name>
      <param-value>com.oracle.java.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletconfig</servlet-name>
    <url-pattern>/Servletconfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReg</display-name>
    <servlet-name>DisplayReg</servlet-name>
    <servlet-class>com.infinite.servlet.DisplayReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReg</servlet-name>
    <url-pattern>/DisplayReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.infinite.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServerExample</display-name>
    <servlet-name>HttpServerExample</servlet-name>
    <servlet-class>com.infinite.servlet.HttpServerExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServerExample</servlet-name>
    <url-pattern>/HttpServerExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposite</display-name>
    <servlet-name>Deposite</servlet-name>
    <servlet-class>com.infinite.wallet.Deposite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposite</servlet-name>
    <url-pattern>/Deposite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logservlet</display-name>
    <servlet-name>Logservlet</servlet-name>
    <servlet-class>com.infinite.beans.Logservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logservlet</servlet-name>
    <url-pattern>/Logservlet</url-pattern>
  </servlet-mapping>
</web-app>